body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0c/42/ed/34/piscina.jpg?w=1200&h=-1&s=1");
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Ajusta este valor para cambiar la opacidad */
  z-index: -1; /* Asegúrate de que el fondo esté detrás del contenido */
}
/* Estilo para la barra de navegación */
.navbar {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-bottom: 1px solid blue;
  padding: 10px 0;
  margin-bottom: 5px;
}
.navbar a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: inline-table;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}
.navbar a:hover {
  color: blue;
}
/* Estilo para el encabezado */
.header {
  position: relative;
  text-align: center;
  color: white;
  margin-block-end: 50px;
}
.header .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 80px;
  text-shadow: #1a1a1a;
  margin: 0;
}
/* Contenedor de relación de aspecto */
.aspect-ratio-container {
  position: relative;
  padding-bottom: 20.04%; /* Relación de aspecto 1120:90 */
}
.aspect-ratio-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*---------------------------------*/
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  text-align: center; /* Añade esta línea para centrar los botones */
}

.tab button {
  background-color: inherit;
  display: inline-block; /* Cambia float: left; por display: inline-block; */
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin: 0 auto; /* Añade margen automático para centrar horizontalmente */
}


/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}
/*servicios*/
.feature {
  padding: 50px 0;
  text-align: center;
}
.feature i{
  font-size: 40px;
}
.feature-icon {
  font-size: 4rem;
  margin-bottom: 20px;
}
.feature-heading {
  margin-bottom: 20px;
}
